@media (max-width: 375px){
    body {
        /* これにより、ブラウザのデフォルトマージンを確実に消します */
        margin: 0;
        padding: 0;
        overflow-x: hidden; 
    }

    html {
        width: 100%;
    }

    header {
        /* 画面幅いっぱいに広げる */
        width: 100%; 
        height: 68px;
        padding: 6px 4px;
        /* padding を幅に含めるため、はみ出しを防ぐ */
        box-sizing: border-box; 

        display: flex;
        padding: 30px 20px;
        background-color: #694F64;
    }

    .head {
        margin: 0;
    }
}